.form-input {
  display: block;
  padding: 18px 32.85px;
  width: 310px;
  font-size: 13px;
  line-height: 1.17;
  border-radius: 32px;
  border: 2px solid #747272;
  background-color: transparent;
  margin: 0 auto;
  color: #ffffff;
  transition: background-color 0.2s;

  @media screen and (min-width: $bp-tablet) {
    padding: 18px 32.85px;
    width: 100%;
  }

  &__contact {
    display: block;
    padding: 16px 24px;
    width: 100%;
    width: 241px;
    font-size: 13px;
    line-height: 1.17;
    border-radius: 32px;
    border: 2px solid #747272;
    background-color: transparent;
    margin: 0 auto 8px;
    color: #ffffff;
    transition: background-color 0.2s;

    @media screen and (min-width: $bp-tablet) {
      padding: 18px 32.85px;
      width: 310px;
    }

    &::placeholder {
      color: #fff;
      font-size: 13px;
      line-height: 1.17;
    }

    &:focus {
      background-color: #747272;
      outline: none;
    }
  }
}
