.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 40px 20px;
  background-color: var(--color-brand-dark);
  background-image: url(../image/md7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  overflow-y: auto;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
    border-radius: 48px;
    height: 100%;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../image/md7@2x.png');
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    fill: transparent;
    stroke: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      top: 42px;
      right: 42px;
    }
  }

  &__title {
    font-family: 'Play';
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px;
    line-height: 1;
    width: 415px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 32px;
    line-height: 1.17;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }
  }

  &__form {
    padding: 0 10px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 63px;
    }
  }
  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }
}

.form {
  &__label {
    display: block;
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
    padding: 12px 24px;
    width: 241px;
    height: 44px;
    font-size: 15px;

    @media screen and (min-width: $bp-tablet) {
      padding: 16px 32px;
      width: 281px;
      height: 53px;
    }

    &:hover {
      color: #2b7fff;
    }
  }
}
